<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Polo360</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="Polo360 template psd">
    <meta name="keywords" content="Polo360">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
			<nav>
				<ul>
					<li><a href="index.html" class="active">HOME<p>Back to home</p></a></li>
					<li><a href="#">PRODUCTS<p>What we have for you</p></a></li>
					<li><a href="#">SERVICES<p>Things we do</p></a></li>
					<li><a href="#">BLOG<p>Follow our updates</p></a></li>
					<li><a href="#">CONTACTS<p>Ways to reach us</p></a></li>
				</ul>
			</nav>
		</div>
	</header>

	
	<div class="slider">		
		<div class="container">
			<div class='sliderA'>
				    <input type="radio" name="slider2" id="slider2_1" checked="checked">
				    <label for="slider2_1"></label>
				    <div><img src="img/banner1.png" alt=""><h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h3><hr class="divider" /></div>
				    

				    <input type="radio" name="slider2" id="slider2_2">
				    <label for="slider2_2"></label>
				    <div><img src="img/banner2.jpg" alt=""><h3 class="text-center">Voluptatum, odio consequuntur totam architecto.</h3><hr class="divider" /></div>
				    

				    <input type="radio" name="slider2" id="slider2_3">
				    <label for="slider2_3"></label>
				    <div><img src="img/banner3.jpg" alt=""><h3 class="text-center">Sit amet, consectetur adipisicing elit. Ratione quam at tempora.</h3><hr class="divider" /></div>
				    

				    <input type="radio" name="slider2" id="slider2_4">
				    <label for="slider2_4"></label>
				    <div><img src="img/banner4.png" alt=""><h3 class="text-center">Praesentium officia sit nam ut neque rerum, quia sapiente id quis.</h3><hr class="divider" /></div>
				    

				    <input type="radio" name="slider2" id="slider2_5">
				    <label for="slider2_5"></label>
				    <div><img src="img/banner5.jpg" alt=""><h3 class="text-center">Nam alias iure distinctio magnam, dignissimos.</h3><hr class="divider" /></div>
	    
			</div>		
		</div>
	</div>

	<main>
		<div class="container">
			<div class="row">
				<div class="post">
					<h5>Perfect Logic</h5>
					<p class="un_title">All you want your website to do.</p>
					<img src="img/p1.png" alt="">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<a href=""><div class="learn"></div></a>
				</div>	
				<div class="post">
					<h5>Complete Solution</h5>
					<p class="un_title">A tool anything and everything you can think</p>
					<img src="img/p2.png" alt="">
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun tdolore magnam aliquam quaerat voluptatem.</p>
					<a href=""><div class="learn"></div></a>
				</div>
				<div class="post">
					<h5>Uber Culture</h5>
					<p class="un_title">Fresh. Modern and ready for future</p>
					<img src="img/p3.png" alt="">
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					<a href=""><div class="learn"></div></a>
				</div>			
			</div>
			<hr class="divider" />
			<div class="row">
				<div class="social">
					<h5>Social Connection</h5>
					<div class="dash"></div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
					<ul>
						<li><a href=""><div class="rss"></div></a></li>
						<li><a href=""><div class="facebook"></div></a></li>
						<li><a href=""><div class="in"></div></a></li>
						<li><a href=""><div class="youtube"></div></a></li>
						<li><a href=""><div class="twitter"></div></a></li>			
					</ul>
					<h6>Newsletter</h6>
					<div class="dash"></div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
					<input type="text" placeholder="your email address">
					<a href="#"><div class="subscribe"></div></a>
				</div>

				<div class="contact">
					<h5>Contact</h5>
					<div class="dash"></div>
					<input type="text" placeholder="your name">
					<input type="text" placeholder="your email address">
					<textarea placeholder="message"></textarea>
					<a href="#"><div class="subscribe"></div></a>
				</div>

				<div class="updates">
					<h5>News Update</h5>
					<div class="dash"></div>
						<div class="update-post">
					      	<div class="le"><img src="img/parts1.png" alt=""></div>
					      	<div class="ri"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
					    </div>
					    <div class="dash"></div>   
					    <div class="update-post">
					      	<div class="le"><img src="img/parts2.png" alt=""></div> 
					      	<div class="ri"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p></div> 
					    </div>
					 	<div class="dash"></div>
					    <div class="update-post">
					      	<div class="le"><img src="img/parts3.png" alt=""></div> 
					      	<div class="ri"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium totam rem aperiam totam rem aperiam.</p></div> 
					    </div>
					    <div class="dash"></div>
					<a href="#"><div class="subscribe"></div></a>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<div class="footer-left">
				<p>Site Powered by Wordpress. Design and Developed by VIVROCKS.</p>
				<ul>
					<li><a href="#">Home &vert;</a></li>
					<li><a href="#">About &vert;</a></li>
					<li><a href="#">Products &vert;</a></li>
					<li><a href="#">Services &vert;</a></li>
					<li><a href="#">Contact &vert;</a></li>
					<li><a href="#">Privacy Policy &vert;</a></li>
					<li><a href="#">Terms of use</a></li>
				</ul>
			</div>
			<div class="footer-right">Copyright 2010. Studio VIVROCKS. All Rights Reserved.</div>
		</div>
	</footer>
</body>
</html>