/* 
======================================
THEME POLO360
====================================== 
1.  FONTS
2.  MAIN
3.  NAVIGATION
4.	TEXT
5.	SOCIAL
6.	FORM
7.  SLIDER
8.  FOOTER
9.  MEDIA
*/

/* 
========================
		FONTS
======================== 
*/
	/*    font-family: "Gill Sans MT"    */
	@import url(http://db.onlinewebfonts.com/c/3f3b5dee5276f99b6d5bfcf7e1a7be52?family=Gill+Sans+MT);
	/*    font-family: "Georgia Bold"    */
	@import url(http://db.onlinewebfonts.com/c/08a3a3f82f0c66432e780f79e74924cd?family=Georgia);
	/*    font-family: "Georgia"    */
	@import url(http://db.onlinewebfonts.com/c/7dca09e227fdfe16908cebb4244589e4?family=Georgia);
	/*    font-family: "Helvetica"    */
	@import url(http://db.onlinewebfonts.com/c/bec9cfcd690948400517b31821c873e1?family=Helvetica);
	/*    font-family: "Tahoma"    */
	@import url(http://db.onlinewebfonts.com/c/cd0381aa3322dff4babd137f03829c8c?family=Tahoma);
	/*    font-family: "Verdana"    */
	@import url(http://db.onlinewebfonts.com/c/562fa31bba08b3f71cb71257ddb880d5?family=Verdana);

/* 
========================
		MAIN
======================== 
*/
body{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
  	line-height: 1.4em;
  	font-family: 'Verdana', 'Helvetica','Tahoma',sans-serif;  
  	font-weight: normal;
  	font-style: normal;
  	color: #000;
}
* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
header{
	width: 100%;
	min-height: 100px;	
}

main{
	width: 100%;
	height: auto;
	position: relative;	
	padding-top: 30px;
}
.row{
	width:100%;
	height: auto;
	margin: 0px;	
	padding: 20px 0px 20px 0px;
	display: inline-flex;
}
.post{
	display: inline-block;
	width: 33%;
	padding: 10px;
}
.post img{
	border: 8px solid #f3f3f3;
	border-radius: 5px;	
	background-image: linear-gradient(top, black 50%, bottom 200%);	
	background-color: black;
	box-shadow: 5px 7px 7px -7px rgba(99, 99, 99, 0.5);	
}
.learn {
	background: transparent url('../img/learn.png') no-repeat center;
	width: 163px;
	height: 40px;
}
.learn:hover {
	background: transparent url('../img/learn2.png') no-repeat center;
}
hr.divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 	
}
.dash {	
	padding: 5px;
	overflow: auto;
	border-top:1px dashed #ccc;
}
.container{
	display: block;
	width: 100%;
	max-width: 940px;	
	margin: 0 auto;	
}
.logo{
	display: block;
	float: left;
	width: 100%;
	max-width: 287px;
	height: 76px;	
	margin: 12px;
}
main div.row h5 {
	font-size: 18px;
}
main div.post h5 {
	font-size: 21px;
	color: rgb(17,113,156);
}
main div h6 {
	font-family: 'Gill Sans MT';
	font-size: 18px;
	color: rgb(68,68,68);
	margin: 10px 0px 10px 0px;	
}
main div.post p {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(62,62,62);
}
.post .un_title {
	font-size: 12px;
	color: rgb(140,140,140);
}

/* 
============================
		NAVIGATION
============================ 
*/
nav{
	float: right;	
	width: 100%;
	max-width: 600px;
	height: 48px;	
	margin: 26px 0px 26px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;    
}
nav li {
    display: inline-block;
    margin-left: 3px;
    position: relative;
    background: url('../img/dot.gif') repeat-y left;
    height: 45px;
    margin: 5px;
}
nav li a {
    display: block;
    font-family: 'Georgia Bold';
	color: rgb(102,102,102);
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;    
}
nav li a:hover {
    color: #000;
}
nav p {
	font-size: 11px;
	color: rgb(183,183,183);
	font-family: Tahoma, sans-serif;
	margin: 5px 0px 0px 0px;	
}
/* 
==============================
		TEXT
============================== 
*/
a {
	text-decoration: none;
	font-size: 18px;	
	-webkit-transition: all 0.15s ease;
	   -moz-transition: all 0.15s ease;
	    -ms-transition: all 0.15s ease;
	     -o-transition: all 0.15s ease;
	        transition: all 0.15s ease;
}
img {
	display: block;
	width: 100%;	
}
h3 {
	font-family: "Georgia Bold";
	font-size: 24px;
	text-align: center;
	padding-bottom: 10px;
}
h5 {
	color: rgb(68,68,68);
	font-family: "Georgia";
	margin: 10px 0px 10px 0px;	
}
.social p, .updates p {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: rgb(68,68,68);
	margin: 0;
}
/*
==============================
		SOCIAL
============================== 
*/
.subscribe {
	background: transparent url('../img/subsclibe.png') no-repeat center;
	width: 163px;
	height: 40px;
}
.subscribe:hover {
	background: transparent url('../img/subsclibe2.png') no-repeat center;
}
.facebook {
	background: transparent url('../img/facebook.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.facebook:hover {
	background: transparent url('../img/facebook2.png') no-repeat center;
}
.twitter {
	background: transparent url('../img/twitter.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.twitter:hover {
	background: transparent url('../img/twitter2.png') no-repeat center;
}
.rss {
	background: transparent url('../img/rss.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.rss:hover {
	background: transparent url('../img/rss2.png') no-repeat center;
}
.in {
	background: transparent url('../img/linkedin.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.in:hover {
	background: transparent url('../img/linkedin2.png') no-repeat center;
}
.youtube {
	background: transparent url('../img/youtube.png') no-repeat center;
	width: 56px;
	height: 56px;
}
.youtube:hover {
	background: transparent url('../img/youtube2.png') no-repeat center;
}
.social{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.social ul{
	display: inline-block;	
	padding: 0px 0px 20px 0px;
	margin: 0;
}
.social ul li {
	display: inline-block;
	list-style: none;
	width: 54px;
}
.contact{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.updates{
	display: inline-block;
	width: 33%;
	height: auto;
	padding: 10px;
}
.update-post{
	width: 100%;
	display: inline-block;
	height: auto;
	margin: 0px 0px 10px 0px;
	padding:0;
}
.list{
	width: 100%;
	display: inline-block;	
}
.list img{
	width: 100%;
}
.le{
	float: left;	
	border: 5px solid #ccc;
	border-radius: 3px;
}
.ri{
	float: right;
	width: 75%;
}
/* ==============================
		FORM
============================== */

input[type="text"] {
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   	-webkit-border-radius: 	3px; 
	   -moz-border-radius: 	3px; 
   	     -o-border-radius: 	3px; 
   background: #ffffff !important;
   outline: none; 
   height: 34px; 
   width: 100%; 
   margin-bottom: 20px;
   padding-left: 10px;
}
input{
	padding: 5px 0px 5px 0px;
}
textarea {
   display: block;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
      -moz-border-radius: 3px; 
        -o-border-radius: 3px; 
   background: #ffffff !important;
   outline: none; 
   height: 130px; 
   width: 100%; 
   margin-bottom: 10px;
   padding: 10px;
}
input[type="text"], .contact textarea {
   color: rgb(212,212,212);
   font-size: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: 2px;
}

/* 
================================
		SLIDER
================================ 
*/
.slider{
	height: 100%;
	max-height: 440px;	
	border-bottom: solid #fff 100px;
	background: #151515;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#333333));
	background: -webkit-linear-gradient(#151515 0%, #333333 100%);
	background: -moz-linear-gradient(#151515 0%, #333333 100%);
	background: -o-linear-gradient(#151515 0%, #333333 100%);
	background: linear-gradient(#151515 0%, #333333 100%);
	position: relative;
	z-index:100;
	margin: 0 auto;
}
.slider img{
	display: block;
	width: 100%;
	margin: 30px 0px 0px 0px;
	border-radius: 8px;
	border: 1px solid #9c8c8c;
	box-shadow: 0px 12px 7px -7px rgba(99, 99, 99, 0.5);
}
.sliderA {
    width: 940px;
    height: 355px;    
    position: relative;
}
.sliderA > input {
    display: none;    
}
.sliderA > input + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #fff;
    border: 3px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 95%;
    transition: background 0.8s ease-out 0s;
    left: 2%;
}
.sliderA > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}
.sliderA > input:checked + label {
    background: #4adbfa;
}
.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 5;
}
.sliderA > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}
.sliderA > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out 0s, visibility 0.5s ease-out 0s;
}
.sliderA > div > h3 {    
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center; 
    line-height: 1.2em;   
}
/* 
==========================
		FOOTER
========================== 
*/
footer div, footer p, footer ul, footer li, footer a {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	color: rgb(153,153,153);
	line-height: 1.5;
	font-size: 12px;
}
footer {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100px;
	background: #333333;
	border-top: 10px solid #4c4c4c;	
}
.footer-left{
	display: inline-block;
	padding: 10px;	
}
.footer-left li {
	display: inline-block;
}
.footer-right{
	display: inline-block;
	padding: 10px;
	width: 34.99%;
	float: right;
}
/* 
=============================
		MEDIA
============================= 
*/
@media screen and (max-width: 1024px){	
	.container{
		width: 748px;
	}
	main{
		padding-top:0px;
	}
	.sliderA{
		width: 748px;
	}
	.slider{
		height: 380px;
	}
	.sliderA > input + label {
		top: 77%;
	}
	.logo{
		width: 20%;
		padding: 20px 0px 20px 0px;
	}
	.logo a img{
		width: 100%;
	}
	nav{
		width: 75%;
	}
	nav p{
		display: none;
	}
	nav li a{
		font-size: 24px
	}
	nav li{
		height: 100%;
	}
	.list{
		width: 100%;
		display: inline-block;
		padding: 0px 0px 0px 0px;
	}
	.list img{
		width: 60px;
	}
	.le{
		border: 4px solid #ccc;
		border-radius: 4px;
		width: 30%;
	}
	.ri{
		width: 69%;
	}
	.ri p{
		font-size: 10px;
		margin: 0px 0px 5px 0px;
		padding-left: 5px;
	}
	.footer-left{
		width: 49.99%;
	}
	.footer-right{
		width: 34.99%;
	}
	.post .un_title {		
		font-size:11px;
	}	
}

@media screen and (max-width: 768px){	
	.container{
		width: 100%;
	}
	main{
		padding-top:0px;
	}
	.sliderA{
		width: 100%;
	}
	.sliderA > input + label {
		top: 50px;
	}
	.row{
		display: inline-block;
	}
	.post,.social,.updates,.contact{
		width: 100%;
	}	
	.list{
		padding: 0px 0px 8px 0px;
	}
	.list img{
		width: 120px;
	}
	.le{
		width: 24%;
	}
	.ri{
		width: 75%;
	}
	.ri p{
		font-size: 14px;
	}
	.slider{
		height: 100%;	
		max-height: 380px;
		border-bottom: solid #fff 30vh;
	}
	nav p{
		display: none;
	}
	nav li{
		height: 100%;
	}
	nav li a {
		font-size: 24px;
	}	
	.update-post{
		padding-bottom: 8px;
	}
	main .row div p {
		font-size: 1.8em;
		line-height: 1.2;
	}
	main .row div p.un_title {
		font-size: 1.4em;
	}
		main .row div.ri p {
		font-size: 2em;
	}
}
@media screen and (max-width: 495px){
	.logo{
		width: 100%;
		padding: 20px 0px 20px 0px;
		margin: 0 auto;
		float: none;
	}
	.slider{
		display: none;
	}
	nav p{
		display: none;
	}
	main{
		padding-top:0px;
	}
	header nav{
		width: 100%;
		float: none;	
		height: 100%;	
		min-height: 80px;
		margin: 50px 0px 0px 0px;
	}
	header nav ul{
		list-style-type: none;
		margin: 0;
		padding: 10px;
		float: right;
		overflow: hidden;
	}
	header nav li{		
		background: none;
		float: none;
		margin: 0px;
		padding-bottom: 10px;
	}
	header nav li a{
		font-size: 25px;
		font-family: Verdana;
	}
}