<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Mostrare</title>
	<meta name="description" content="Mostrare A brilliant photography portfolio" />
	<meta name="keywords" content="Mostrare" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="main">
		<div class="sidebar">
			<div class="logo">
				<a href="index.html"><h1>*Mostrare</h1></a>
				<p>A brilliant photography portfolio</p>
			</div>			
			<nav>
				<ul>
					<li><a href="#">ALL PROJECTS</a></li>
					<li><a href="#">FASHION</a></li>
					<li><a href="#">PORTRAITS</a></li>
					<li><a href="#" class="pipa">EDITORIAL</a></li>
					<li><a href="#">ABOUT ME</a></li>
					<li><a href="#" class="pipa">CONTACT</a></li>
					<li><a href="journal.html">MY JOURNAL</a></li>
				</ul>
			</nav>
			
			<div class="tweet">
				<h5><i class="fa fa-twitter" aria-hidden="true"></i> TWEET</h5>
				<p><span>@Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet felis at ipsum gravida dictum condimentum in purus. <span>17 minutes ago</span></p>
			</div>
			<div class="cosial">
				<h5>SOCIAL</h5>
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<footer>
				<p>Copyright &copy; 2015 Mostrare. All right reserved.</p>
			</footer>
		</div>
		<div class="content">
			<div class="row">
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/1.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/2.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/3.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/4.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/5.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/6.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/7.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/8.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/9.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/10.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/11.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
				<div class="column-four">				
					<a href="#" class="thumb-image">
						<img src="img/12.png" alt="">
						<span class="overlay"></span>			
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>