<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />	
	<title>Mostrare | Journal</title>
	<meta name="description" content="Mostrare A brilliant photography portfolio" />
	<meta name="keywords" content="Mostrare Journal" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="main">
		<div class="sidebar">
			<div class="logo">
				<a href="index.html"><h1>*Mostrare</h1></a>
				<p>A brilliant photography portfolio</p>
			</div>
			<nav>
				<ul>
					<li><a href="#">ALL PROJECTS</a></li>
					<li><a href="#">FASHION</a></li>
					<li><a href="#">PORTRAITS</a></li>
					<li><a href="#" class="pipa">EDITORIAL</a></li>
					<li><a href="#">ABOUT ME</a></li>
					<li><a href="#" class="pipa">CONTACT</a></li>
					<li><a href="#" class="this">MY JOURNAL</a></li>
				</ul>
			</nav>
			<div class="tweet">
				<h5><i class="fa fa-twitter" aria-hidden="true"></i> TWEET</h5>
				<p><span>@Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet felis at ipsum gravida dictum condimentum in purus. <span>17 minutes ago</span></p>
			</div>
			<div class="cosial">
				<h5>SOCIAL</h5>
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<footer>
				<p>Copyright &copy; 2015 Mostrare. All right reserved.</p>
			</footer>
		</div>
		<div class="content">				
			<div class="row">
				<div class="title">
					<h2><span>MY JOURNAL</span></h2>
					<p><span>A DAY IN THE LIFE OF ME</span></p>
				</div>
				<div class="post">
					<a href="#"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
					<img src="img/journal-1.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sint atque rem recusandae possimus temporibus laborum debitis labore, ea repellendus nesciunt impedit ut commodi quisquam doloremque non repudiandae maiores, unde libero odio tempore rerum, dolor placeat. Nesciunt sint non, nihil at fugiat, blanditiis laudantium tempore nisi necessitatibus quisquam quas perferendis amet numquam excepturi sequi ut doloremque dolor cupiditate quos commodi ratione cumque veritatis consequuntur possimus id. Nemo, impedit. Tenetur inventore, distinctio, impedit saepe fugiat iusto amet quis cum expedita iste dolor corporis hic aliquam nostrum nisi ipsam laboriosam earum animi accusamus. Repellat excepturi adipisci facere labore provident, at aperiam aspernatur.</p>
					<div class="meta">
						<ul>
							<li class="user"><i class="fa fa-user" aria-hidden="true"></i> Posted by <span>Admin</span></li>
							<li class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sept 28, 2015</li>
							<li class="tag"><i class="fa fa-bookmark" aria-hidden="true"></i> <span>photo, sessions</span></li>
							<li class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>12</span> Comments</li>
						</ul>
					</div>
					<hr />
				</div>				
				<div class="post">
					<a href="#"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
					<img src="img/journal-2.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sint atque rem recusandae possimus temporibus laborum debitis labore, ea repellendus nesciunt impedit ut commodi quisquam doloremque non repudiandae maiores, unde libero odio tempore rerum, dolor placeat. Nesciunt sint non, nihil at fugiat, blanditiis laudantium tempore nisi necessitatibus quisquam quas perferendis amet numquam excepturi sequi ut doloremque dolor cupiditate quos commodi ratione cumque veritatis consequuntur possimus id. Nemo, impedit. Tenetur inventore, distinctio, impedit saepe fugiat iusto amet quis cum expedita iste dolor corporis hic aliquam nostrum nisi ipsam laboriosam earum animi accusamus. Repellat excepturi adipisci facere labore provident, at aperiam aspernatur.</p>
					<div class="meta">
						<ul>
							<li class="user"><i class="fa fa-user" aria-hidden="true"></i> Posted by <span>Admin</span></li>
							<li class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sept 28, 2015</li>
							<li class="tag"><i class="fa fa-bookmark" aria-hidden="true"></i> <span>photo, sessions</span></li>
							<li class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>12</span> Comments</li>
						</ul>
					</div>
					<hr />
				</div>				
				<div class="post">
					<a href="#"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
					<img src="img/journal-3.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sint atque rem recusandae possimus temporibus laborum debitis labore, ea repellendus nesciunt impedit ut commodi quisquam doloremque non repudiandae maiores, unde libero odio tempore rerum, dolor placeat. Nesciunt sint non, nihil at fugiat, blanditiis laudantium tempore nisi necessitatibus quisquam quas perferendis amet numquam excepturi sequi ut doloremque dolor cupiditate quos commodi ratione cumque veritatis consequuntur possimus id. Nemo, impedit. Tenetur inventore, distinctio, impedit saepe fugiat iusto amet quis cum expedita iste dolor corporis hic aliquam nostrum nisi ipsam laboriosam earum animi accusamus. Repellat excepturi adipisci facere labore provident, at aperiam aspernatur.</p>
					<div class="meta">
						<ul>
							<li class="user"><i class="fa fa-user" aria-hidden="true"></i> Posted by <span>Admin</span></li>
							<li class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sept 28, 2015</li>
							<li class="tag"><i class="fa fa-bookmark" aria-hidden="true"></i> <span>photo, sessions</span></li>
							<li class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> <span>12</span> Comments</li>
						</ul>
					</div>
					<hr />
				</div>	
				<div class="pagination">
					<ul>
						<li><a href="#" class="this">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>			
			</div>
		</div>
	</div>
</body>
</html>